@import url(./_is-opened/search__error_is-opened.css);


.search__error {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #FF0000;
  margin-top: 10px;
  margin-bottom: 55px;
  opacity: 0;
}