.search__form {
  margin: 69px 416px 86.25px 416px;
  position: relative;
  display: flex;

width: 608px;
height: 69px;

border-radius: 100px;
/*position: absolute;
  top: 422px;
  left: 420px;*/




}