@import url(./_active/popup__error_active.css);
@import url(./_user/popup__error_user.css);


.popup__error {
  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;

color: #FF0000;
margin-top: 0;
display: none;

}