@import url('./__container/footer__container.css');
@import url('./__newsexplorer/footer__newsexplorer.css');
@import url('./__vector/footer__vector.css');
@import url('./__main/footer__main.css');
@import url('./__text/footer__text.css');

.footer {
  display: flex;
  height: 80px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  border: 1px double green;

}