@import url('./__group/footer__group.css');
@import url('./__enter/footer__enter.css');
@import url('./__social/footer__social.css');
@import url('./__text/footer__text.css');



.footer {
  display: flex;
  flex-direction: row;

  padding: 0 104px;
  background: #FFF;
}

@media (max-width: 768px) {
  .footer {
    padding: 0 40px;
    }
  }