@import url('./__group/footer__group.css');
@import url('./__enter/footer__enter.css');
@import url('./__social/footer__social.css');
@import url('./__text/footer__text.css');



.footer {
  display: flex;
  flex-direction: row;

  margin: 0 104px;
}