@import url(./_left/popup__register_left.css);

.popup__register {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: center;
  margin-top: 16px;
  color: #2F71E5;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}