@import url(./_is-closed/results__button_is-closed.css);

.results__button {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #1a1b22;
  margin: 0 auto 80px;
  width: 288px;
  height: 64px;
  background: #fff;
  border-radius: 80px;
  border: none;
  outline: none;
}

@media (max-width: 768px) {
  .results__button {
    margin: 0 auto 32px;
    width: 240px;
    height: 56px;
  }
}

@media (max-width: 420px) {
  .results__button {
    width: 260px;
  }
}

