.process__text1 {

font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 30px;
/* identical to box height, or 115% */

text-align: center;

/* main/primary */
margin: 24px auto 0;

color: #1A1B22;
}