.card__text {
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
margin: 16px 0 0 24px;
height: 110px;

color: #1a1b22;
overflow: hidden;
text-overflow: ellipsis;
}

@media (max-width: 1020px) {
  .card__text {
    margin-left: 16px;
    margin: 16px 0 0 16px;
    font-size: 16px;
    line-height: 22px;
    height: 88px;
    overflow: hidden;
text-overflow: ellipsis;
/*white-space: nowrap;*/
  }
}