.results__container {
  margin-top: 64px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 64px;
}

@media (max-width: 768px) {
  .results__container {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

@media (max-width: 420px) {
  .results__container {
    margin-top: 24px;
    flex-direction: column;
    margin-bottom: 16px;
    width: 100%;
  }
}
