@import url('./__container/header__container.css');
@import url('./__newsexplorer/header__newsexplorer.css');
@import url('./__vector/header__vector.css');
@import url('./__main/header__main.css');
@import url('./__text/header__text.css');
@import url('./__transition/header__transition.css');
@import url('./__icon/header__icon.css');
@import url('./__button/header__button.css');
@import url('./__hide/header__hide.css');
@import url('./_articles/header_articles.css');
@import url('./__menu/header__menu.css');
@import url('./__mobil/header__mobil.css');
@import url('./__content/header__content.css');

.header {
  display: flex;
  height: 80px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  background: rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}

@media (max-width: 768px) {
.header {
    height: 66px;
  }
}

@media (max-width: 570px) {
  .header {
      height: 56px;
    }
}