@import url('./__text/content__text.css');
@import url('./__text1/content__text1.css');
@import url('./__text2/content__text2.css');

.content {
  padding: 40px 104px 39px;
  background-color: #fff;

}

@media (max-width: 768px) {
  .content {
    padding: 24px 40px 32px;
  }
  }

  @media (max-width: 490px) {
    .content {
      padding: 8px 16px 16px;
    }
    }