@import url('./_dark/header__button_dark.css');
@import url('./_white/header__button_white.css');
@import url('./_mobil/header__button_mobil.css');

.header__button {
  background: rgba(255, 255, 255, 0);
  border-radius: 100px;
  text-align: center;
  margin-bottom: 13px;
  cursor: url(../../../images/lapka.png), pointer;
}

@media (max-width: 768px) {
  .header__button {
    margin-bottom: -2px;
  }
}